# Make Simulated Data For Regression

## Preliminaries

In [1]:
import pandas as pd
from sklearn.datasets import make_regression

## Create Simulated Data

In [2]:
# Generate fetures, outputs, and true coefficient of 100 samples,
features, output, coef = make_regression(n_samples = 100,
                                         # three features
                                         n_features = 3,
                                         # where only two features are useful,
                                         n_informative = 2,
                                         # a single target value per observation
                                         n_targets = 1,
                                         # 0.0 standard deviation of the guassian noise
                                         noise = 0.0,
                                         # show the true coefficient used to generated the data
                                         coef = True)

## View Simulated Data

In [3]:
# View the features of the first five rows
pd.DataFrame(features, columns=['Store 1', 'Store 2', 'Store 3']).head()

    Store 1   Store 2   Store 3
0  0.493509  2.466767 -1.350580
1  0.902328  1.273842 -2.290403
2 -0.444617  0.033521  1.677826
3  0.575696  0.386840  0.060167
4 -0.620372  0.748306  0.381089

In [4]:
# View the output of the first five rows
pd.DataFrame(output, columns=['Sales']).head()

      Sales
0  6.613837
1  8.270034
2 -3.294030
3  4.773339
4 -3.767527

In [5]:
# View the actual, true coefficients used to generate the data
pd.DataFrame(coef, columns=['True Coefficient Values'])

   True Coefficient Values
0                 7.497746
1                 1.181155
2                 0.000000

[Source](https://chrisalbon.com/machine-learning/make_simulated_data_for_regression.html)